<header class="main-nav">
	<nav class="left-nav">
		<ul class="headers">
			
			<div class="left_bars">
				<li id="sections-sidebar-btn">
					<i class="fa fa-bars"></i>
					<span>sections</span>
				</li>
			</div>

			<div class="left_bars">
				<li id="search-modal-btn">
					<i class="fa fa-search"></i>
					<span>search</span> 
				</li>
			</div>

		</ul>
	</nav>
	<nav class = "right-nav">
		<ul class="headers">

			<li>
				<input class="buttons" type="button" value="Subscribe">
			</li>		

			<li>
				<input class="buttons" type="button" value="Login">
			</li>

			<li>
			<button class= "settings-gear-btn"><i class="fas fa-cog"></i></button>
			</li>

		</ul>
	</nav>
</header>
<hr>